body {
    height : 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}
.header {
    display: flex;
    justify-content: space-evenly;
    padding: 24px;
    background-color: #1f2937;
}
.links {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;

}
.logo {
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8;

}

.content {
   flex: 1 1 auto;
}
.top {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    align-items: center;
    padding: 30px;
}
.top-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 15px;

}
.top-header {
    color:#F9FAF8;
    font-weight: 900;
    font-size: 48px;
}
.top-content {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1 1 0;
}
.top-button {
    background-color: #3882F6;
    padding: 6px;
    color: white;
    border-radius: 10px;
    width: 80px;
}
.top-right {
    display: inline-flex;
    width:40%;
    height:300px;
    border: 1px solid black;
}
.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 30px 0;
}
.pictures-container {
    display: flex;
}
.picture-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.pictures {
    width:200px;
    height:200px;
    border:2px solid #3882F6;
    border-radius: 10px;
}
.subtext {
    text-align: center;
}
.inspiration {

}
.action {

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#F9FAF8;
    padding: 24px;
    font-size: 18px;
    background-color: #1f2937;
}